$table-border-width: 4px;
$boxtitle-bg: #e9ecef;//$gray-200
$custom-select-indicator: none;
@import "node_modules/bootstrap/scss/bootstrap";

.boxedTable {
    padding: 1rem .5rem 1rem .5rem;
    margin-bottom: .5rem;
    position: relative; //to overlay spinner using absolute position
    box-shadow: 4px 6px 8px 4px rgba(#000,.4);
}

.booktitle,h1{
    font-family: "Merriweather", serif;
}

.booktitle {
    font-weight: bold;
    font-size: 120%;
    outline: none;
    color: #333333;

}

.myinput:not([contenteditable]) {
    background-color: transparent;
    border-width: 0px;
    padding: 0px;
}

.myinput[contenteditable] {
    @extend .form-control;
    display: inline-block;
    width: auto;
}

h2 {
    padding: 1rem;
    background-color: $boxtitle-bg;
    border-radius: 10px;
    font-family: "Merriweather", serif;
}
/* needed to avoid table stretching if title or author two long */
table {
    table-layout: fixed;
}

.table td:last-child{
    width: 10rem;
}

a {
    overflow-wrap: break-word;
    word-break: break-word;
}
/* Needed to align vue-awesome icons */
.fa-icon {
    vertical-align: middle;
}
.btn .fa-icon {
    margin-right: 0.1rem;
}

.btn .fa-icon:last-child {
    margin-right: 0;
}

.truncate > p {
    white-space: pre-wrap;
}
.truncate > p > a {
    color: blue !important;
    font-size: 80%;
}
.truncate > p > a:hover {
    text-decoration: underline !important;
}

.modal-body select {
    background-color: white !important;
}

 .vdp-datepicker__calendar .cell {
    height: 20px !important;
    line-height: 20px !important;
 }

 /* Trick to make modal fit content, in this case the calendar*/
 .modal {
     text-align: center;
 }

  .modal .modal-body {
     text-align: left;
 }
 .modal-dialog {
     display: inline-block;
 }
