service cloud.firestore {
  match /databases/{database}/documents {
  //https://firebase.google.com/docs/firestore/security/secure-data?authuser=0
  //Allow signed in users only
  //firebase deploy --only firestore:rules
    match /books/{currentBook} {
        allow read, create: if request.auth != null;
	allow update, delete: if request.auth.uid == resource.data.ownerID;
    }

    match /transaction/{currentTrans} {
        allow read, create: if request.auth != null;
        // Allow only owner of book or the requestor to edit or delete the
        // current waiting list
        allow update, delete: if request.auth.uid == resource.data.borrowerID
              || request.auth.uid == resource.data.ownerID;
    }

    match /users/{userID} {
        allow read, update: if request.auth.uid == userID;
    }
    match /publicBooks/{currentBook} {
        allow read: if true;
    }
  }
}
